node_modules
.DS_Store
.next
package-lock.json
sitemap.xml
.idea/
.env*
.vercel
.dccache*
.styles
.github/styles/Google
.github/styles/Joblint
.github/styles/Microsoft
.github/styles/proselint
.github/styles/write-good
out/
