node_modules
.DS_Store
.next
package-lock.json
sitemap.xml
.idea/
.env*
.vercel
.dccache*
.styles
.github/styles/Google
.github/styles/google
.github/styles/Microsoft
.github/styles/microsoft
.github/styles/Proselint
.github/styles/proselint
.github/styles/Write-good
.github/styles/write-good
.github/styles/Joblint
