.page {
    max-width: 1200px;
    margin: 0 auto;
}
.breadcrumb {
    margin: 2.5rem 0;
    padding-top: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray10);
}
.mob-guide {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.date {
    color: var(--gray11);
}
.title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    max-width: 48rem;
}
.main {
    /* w-full hidden lg:flex justify-between space-x-8 */
    width: 100%;
    display: none;
    justify-content: space-between;
}
.wrapper {
    max-width: 28rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toc-ctx {
    /* h-screen max-w-xs fixed top-0 right-10 flex flex-col justify-center px-4 */
    padding: 0 1rem;
    position: fixed;
    top: 0;
    right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 20rem;
}
.toc-title {
    color: var(--gray12);
    font-size: 16px;
    font-weight: 600;
}
.toc-link {
    font-size: 12px;
    color: var(--gray10);
    text-decoration: underline;
}
.toc-link-active {
    color: var(--blue11);
    text-decoration: none;
}

@media (min-width: 1024px) {
    .mob-guide {
        display: none;
    }
    .main {
        display: flex;
    }
}
@media (min-width: 768px) {
    .title {
        font-size: 3rem /* 48px */;
        line-height: 1;
    }
}
