/* Heading Spacing */
h1 {
    margin-top: 40px !important;
    margin-bottom: 0px !important;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 40px !important;
    margin-bottom: 0px !important;
}

/* Reduced H2 margin when directly below a H1 element */
h1+h2 {
    margin-top: 24px !important;
}

/* Reduced H4 margin when directly under a H3 element */
h3+h4 {
    margin-top: 16px !important;
}

/* Paragraph Spacing */
article h3+p {
    margin-top: 4px;
}

article p img+p {
    margin-top: 8px !important;
}

article p {
    margin-top: 16px !important;
    margin-bottom: 0px !important;
}

article li p {
    margin-top: 0px !important;
}

article li p img {
    margin-top: 16px !important;
}

h3+p img {
    margin-top: 16px !important;
}


article h1+p {
    margin-top: 8px !important;
}

article h2+p,
article h3+p,
article h4+p,
article h5+p,
article h6+p {
    margin-top: 4px !important;
}

article .note+p {
    margin-top: 16px !important;
}

article .note p {
    margin-top: 0px !important;
}

/* List Spacing */
article li {
    padding-left: 4px !important;
    margin-bottom: 0px !important;
    margin-top: 8px !important;
}

article h2+ol {
    margin-top: 16px !important;
}

article ul,
article ol {
    margin-top: 0px !important;
}

article ul,
article ol {
    padding-left: 24px !important;
}

article h2+ul {
    margin-top: 0px;
}

article li ul {
    margin-top: 8px !important;
    margin-bottom: 0px !important;
}

article li ul li {
    margin-bottom: 0px !important;
    margin-top: 8px;
}

/* Component Spacing */
article .note {
    margin-top: 16px !important;
    margin-bottom: 0px !important;
}

article pre {
    margin-top: 16px !important;
    margin-bottom: 0px !important;
}

article video {
    margin-top: 16px !important;
}

article table {
    margin-bottom: 0px !important;
}

article .table-wrapper {
    margin-top: 16px;
}

article .flex-container {
    margin-top: 16px !important;
    gap: 32px !important;
}

article p+section {
    margin-top: 16px !important;
}

/* Pre Spacing */
article li pre {
    margin-top: 8px !important;
}

article .remark-code-title+pre {
    margin-top: 0px !important;
}

/* Image Spacing */
article p img {
    padding-bottom: 0px !important;
}

article h2+p img {
    margin-top: 16px !important;
    margin-bottom: 0px !important;
}

article ul+p>img,
article ol+p>img {
    margin-left: 8px !important;
}