/* Heading Spacing */
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
    margin: 0;
}

h1,
h2,
h3 {
    margin-top: 40px;
}

h1+div>h2:first-of-type {
    margin-top: 16px;
}

h1+h2 {
    margin-top: 16px;
}

.request pre,
.request code[class*='language-'],
.request pre[class*='language-'] {
    margin: 0;
}

.dropdown {
    margin: 0;
    padding: 28px 0 28px 4px;
}

.dropdown-option {
    margin-bottom: 8px;
    padding: 8px 16px;
}

.dropdown-option span {
    margin-left: 12px;
}

p img {
    margin: 0 0 8px;
}

span img {
    margin: 0 0 24px;
}

.dropdown-option:first-of-type {
    margin-top: 8px;
}

.sidebar-section .sidebar-section {
    margin-left: -1px !important;
}

.sidebar-section .sidebar-section .opaque-link {
    margin-left: 15px !important;
}

.sidebar-section .sidebar-section .sidebar-section {
    margin-left: 15px !important;
}

.copy-anchor {
    margin-left: 16px;
}

.remark-code-title+pre {
    margin-top: 0;
}

.toc-ctx p.head {
    margin: 16px 0 8px;
}

.next-image {
    margin: 24px 0;
}

.response-box pre,
.response-box code[class*='language-'],
.response-box pre[class*='language-'] {
    margin: 0;
}

table {
    margin-bottom: 32px;
}

code[class*='language-'],
pre[class*='language-'] {
    margin-top: 0 !important;
}

.ch-scrollycoding-step-content {
    margin-bottom: 24px;
    padding: 16px;
}

body {
    margin: 0;
    padding: 0;
}

small {
    margin: 0;
}

span.text.child,
span.text {
    margin-top: 0 !important;
}

ul,
ol {
    margin-top: 0;
    padding: 0;
    padding-left: 32px;
}

li {
    margin: 0 0 16px;
}

.note p {
    margin-bottom: 0;
}

li>p {
    margin-bottom: 0;
}

p,
ul,
ol {
    margin: 0;
}

h4,
h5,
h6 {
    margin-top: 24px;
}

h2+h4 {
    margin-top: 16px;
}

h2+h3 {
    margin-top: 16px;
}

pre {
    margin: 0;
    padding-left: 16px;
}

code:not(.ch-code-scroll-parent) {
    padding: 2px 4px;
}

table th,
table td {
    padding: 16px 24px;
}

.dropdown-chevron-container {
    padding: 8px;
    gap: 8px;
}

.highlight-word {
    padding: 2px;
}

.remark-code-title {
    padding: 4px 10px;
    margin-top: 16px;
}

.docs-search-bar {
    padding: 8px;
    gap: 8px;
}

pre code:not(.ch-code-scroll-parent) {
    padding: 0;
}

pre span,
pre p {
    margin: 0;
}

.note+h2 {
    margin-top: 32px;
}

article section {
    margin-top: 16px;
}

p+h2 {
    margin-top: 32px;
}

ul+h2 {
    margin-top: 32px;
}

h3+div>table {
    margin-top: 0;
}

/* div.tab-ctx + div {
    margin-bottom: -16px !important;
} */

h1+span+h2 {
    margin-top: 16px;
}

hr {
    margin: 40px 0;
}

blockquote {
    margin: 1.5rem 0;
    padding: calc(0.667 * 16pt) 16pt;
}

blockquote :global(*:first-child) {
    margin-top: 0;
}

blockquote :global(*:last-child) {
    margin-bottom: 0;
}

article .flex-container+h2 {
    margin-top: 48px;
}

/* Reduced H2 margin when directly below a H1 element */
h1+h2 {
    margin-top: 24px;
}

/* Reduced H4 margin when directly under a H3 element */
h3+h4 {
    margin-top: 16px !important;
}

/* Paragraph Spacing */
article h3+p {
    margin-top: 4px;
}

.flex-container p {
    margin-top: 0 !important;
}

article p img+p {
    margin-top: 8px !important;
}

article p {
    margin-bottom: 0 !important;
    margin-top: 16px !important;
}

article li p {
    margin-top: 0 !important;
}

article li p img {
    margin-top: 16px !important;
}

article h3+p img {
    margin-top: 16px !important;
}


article h1+p {
    margin-top: 8px !important;
}

article h2+p,
article h3+p,
article h4+p,
article h5+p,
article h6+p {
    margin-top: 4px !important;
}

article .note+p {
    margin-top: 16px !important;
}

article .note p {
    margin-top: 0 !important;
}

/* List Spacing */
article li {
    margin-bottom: 0 !important;
    margin-top: 8px !important;
    padding-left: 4px !important;
}

article ul,
article ol {
    margin-top: 0 !important;
    padding-left: 24px !important;
}

article h2+ol,
article h2+ul {
    margin-top: 4px !important;
}

article li ul {
    margin-bottom: 0 !important;
    margin-top: 8px !important;
}

article li ul li {
    margin-bottom: 0 !important;
    margin-top: 8px;
}

/* Component Spacing */
article .note {
    margin-bottom: 0 !important;
    margin-top: 16px !important;
}

article pre {
    margin-bottom: 0 !important;
    margin-top: 8px !important;
}

article video {
    margin-top: 16px !important;
}

article table {
    margin-bottom: 0 !important;
}

article .table-wrapper {
    margin-top: 16px;
}

article .flex-container {
    gap: 32px !important;
    margin-top: 16px !important;
}

article p+section {
    margin-top: 16px !important;
}

/* Pre Spacing */
article li pre {
    margin-top: 8px !important;
}

article .remark-code-title+pre {
    margin-top: 0 !important;
}

/* Image Spacing */
article p img {
    padding-bottom: 0 !important;
}

article h2+p img {
    margin-bottom: 0 !important;
    margin-top: 16px !important;
}

article ul+p>img,
article ol+p>img {
    margin-left: 8px !important;
}

.menu-title {
    margin-bottom: 12px !important;
}

div.home-dropdown-option {
    margin: 8px 0;
    padding: 4px 0 4px 8px;
}

.footer {
    margin-top: 40px;
}

.footer-final {
    margin-bottom: 56px;
}

.socials {
    margin-top: 8px;
    gap: 8px;
}

p:has(img)+h2 {
    margin-top: 16px;
}

iframe {
    margin-top: 16px;
}

li ul {
    margin-top: 16px;
    margin-bottom: 16px;
}

li ul li {
    margin-bottom: 16px;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
    padding: 8px !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
    margin: 0 !important;
}

div#hs-eu-policy-wording {
    margin: 0 !important;
    margin-top: 10px !important;
    margin-right: 20px !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area {
    margin: 0 !important;
}

.note>p {
    margin-bottom: 0;
}

ul+p>img,
ol+p>img {
    margin-left: 16px;
    width: calc(100% - 16px);
}

span.active-toc.text a {
    margin-left: -4px;
}

ul.dropdown-options {
    padding-left: 0;
}

.page {
    padding: 32px;
    padding-top: 0;
}

.filter-dropdown {
    padding: 0;
}

.mdx-marker {
    margin-left: -16px;
    padding-left: 16px;
}

.hot-key {
    margin-left: auto !important;
    padding: 0 8px;
}

.steps-container {
    margin-left: 16px;
    padding-left: 24px;
    margin-bottom: 48px;
}

.steps-container h3::before,
.steps-container h4::before {
    margin-top: -5px;
    margin-left: -41px;
}

.plat-accordion {
    padding: 8px 0;
    margin-top: 16px;
}

.accordion-content {
    margin-top: 0;
    padding-left: 8px;
}

.ch-scrollycoding {
    gap: 32px;
}

.post-ctx {
    margin-top: 16px;
}

@media screen and (width <=1160px) {
    .footer-wrapper {
        margin: 0 48px;
    }

    .footer-last {
        gap: 16px !important;
    }

    .footer-form {
        align-items: center;
    }

    .footer-final {
        margin-bottom: 48px;
    }
}

@media screen and (width <=768px) {
    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-decline-button {
        margin-top: 5px !important;
        margin-right: 12px !important;
    }

    .footer-wrapper {
        margin: 0 24px;
    }

    .subscribe-btn {
        margin: 0 auto;
    }

    .footer {
        gap: 40px;
    }

    .footer-form {
        gap: 48px;
    }

    .footer-final {
        margin-bottom: 24px;
        gap: 32px;
    }

    article {
        padding: 0px 24px 80px !important;
    }

    h1 {
        margin-top: 24px !important;
    }

    .page {
        padding: 24px;
        padding-top: 0;
    }
}

/* Classes for special cases */


/* Badge needs to be in line with text */
.badge img {
    margin-bottom: 0px;
    position: relative;
    top: 6px;
}