:root {
    --docs_spacing_1: 8px;
    --docs_spacing_2: 16px;
    --docs_spacing_3: 24px;
    --docs_spacing_4: 32px;
    --docs_spacing_5: 48px;
    --docs_spacing_6: 64px;
    --docs_spacing_7: 80px;
    --docs_spacing_8: 96px;
    --docs_spacing_9: 104px;
    --docs_spacing_10: 120px;

    --docs_reading_spacing_xxs: 4px;
    --docs_reading_spacing_xs: 8px;
    --docs_reading_spacing_s: 12px;
    --docs_reading_spacing_md: 16px;
    --docs_reading_spacing_lg: 24px;
    --docs_reading_spacing_xl: 32px;
    --docs_reading_spacing_xxl: 40px;
}

h1, h2, h3, h4, h5, h6, p, li {
    margin-bottom: 0px;
}

h1 {
    margin-top: var(--docs_reading_spacing_xl);
}

h2, h3, h4 {
    margin-top: var(--docs_reading_spacing_xxl);
}

p {
    margin-top: var(--docs_reading_spacing_s);
}

h1 + p, h2 + p, h3 + p, h4 + p {
    margin-top: var(--docs_reading_spacing_xs);
}

hr { 
    margin-top: var(--docs_reading_spacing_xxl);
}

h1+div>h2:first-of-type {
    margin-top: 16px;
}

h1+h2 {
    margin-top: 32px;
}

.steps-container {
    margin-top: 16px;
}

li pre {
    margin-top: 8px;
}

p + pre {
    margin-top: 16px;
}

.steps-toc {
    margin-top: 24px;
}

.flex-container {
    margin-top: 16px;
}

.remark-code-title {
    margin-top: var(--docs_reading_spacing_xs);
}

.dropdown-option:first-of-type {
    margin-top: var(--docs_spacing_2);
}

.remark-code-title+pre {
    margin-top: 0;
}

.sandbox {
    margin-top: var(--docs_reading_spacing_lg);
}

.table-wrapper {
    overflow-x: auto;
    margin-top: 16px;
}

h3 + .table-wrapper {
    margin-top: 16px;
}

p+ul, p+ol {
    margin-top: 8px;
}

h3+div>table {
    margin-top: 0px;
}

h1+span+h2 {
    margin-top: 16px;
}

div.table-wrapper+h3 {
    margin-top: 8px;
}

pre+h2 {
    margin-top: 16px;
}

.note {
    margin: 16px 0 !important;
}

.note+h2 {
    margin-top: 32px;
}