/* Default Theme is Dark */
/*
refer: 
    https://www.radix-ui.com/docs/colors/palette-composition/understanding-the-scale 
to decide colors

1 App background
2 Subtle background
3 UI element background
4 Hovered UI element background.
5 Active / Selected UI element background.
6 Subtle borders and separators.
7 UI element border and focus rings
8 Hovered UI element border
9 Solid backgrounds.
10 Hovered solid backgrounds.
11 Low-contrast text.
12 High-contrast text.

*/

:root {
    --gray1: black;
    --gray2: hsl(0 0% 11%);
    --gray3: hsl(0 0% 13.6%);
    --gray4: hsl(0 0% 15.8%);
    --gray5: hsl(0 0% 17.9%);
    --gray6: hsl(0 0% 20.5%);
    --gray7: hsl(0 0% 24.3%);
    --gray8: hsl(0 0% 31.2%);
    --gray9: hsl(0 0% 43.9%);
    --gray10: hsl(0 0% 49.4%);
    --gray11: hsl(0 0% 62.8%);
    --gray12: hsl(0 0% 93%);

    --blue3: hsl(214 59.4% 15.3%);
    --blue4: hsl(214 65.8% 17.9%);
    --blue5: hsl(213 71.2% 20.2%);
    --blue6: hsl(212 77.4% 23.1%);
    --blue11: hsl(210 100% 66.1%);

    --cyan11: hsl(186 100% 42.2%);

    --surface_default: #13161B;
    --surface_light: #1E232A;
    --surface_lighter: #282F39;

    --secondary_default: #475366;
    --background_default: #0B0D0F;

    --text_med_emp: #E0ECFC;
    --text_high_emp: #F5F9FF;
    --text_disabled: #C3D0E580;
    --primary_light: hsla(217, 100%, 70%, 1);

    --token_code_class: var(--docs_text_primary);
    --token_regex_imp_var: var(--blue11);
    --token_func_cn: var(--blue11);
    --token_attr_key: var(--blue11);
    --token_oper_string: var(--blue11);
    --token_selector: var(--cyan11);
    --token_property: var(--cyan11);
    --token_punctuation: var(--gray10);
    --token_deleted: rgba(232, 74, 95, 0.5);
    --token_inserted: rgba(38, 166, 155, 0.5);
    --token_comment: var(--gray10);

    --success: var(--primary_light);
    --warning: #f5a623;
    --alert_error: #CC525F;
    --twin_green: #14B881;

    --surface_default: #13161B;

    --border_default: hsla(217, 20%, 12%, 1);
    --border_light: hsla(217, 20%, 14%, 1);

    --background_default: #0B0D0F;

    --code: #061937;
    --code_text: var(--primary_light);

    --sidebar_bg: #0B0C0F;
    --header_bg: hsla(217, 20%, 8%, 1);
    --article_bg: var(--sidebar_bg);
    --new_surface_light: #171B21;
    --new_border_default: var(--docs_border_default);
    --new_surface_lighter: #1B2027;

    --dropdown_hover: hsla(217, 15%, 20%, 1);

    --text_med_emp: hsla(217, 100%, 94%, 0.8);
    --text_high_emp: hsla(216, 100%, 98%, 0.95);

    --badge_base: var(--new_surface_lighter);
    --badge_get: rgba(102, 161, 255, 0.1);
    --badge_post: rgba(20, 184, 129, 0.1);
    --badge_delete: rgba(204, 82, 95, 0.1);

    --api_surface_light_default: #171B21;
    --api_surface_light_1: #1B2027;
    --api_surface_light_2: #1B2027;
    --api_surface_light_3: #222730;

    --endpoint_url: var(--primary_light);

    --base_text: var(--docs_text_primary);

    --request_code: var(--text_med_emp);
    --response_json: var(--token_selector);

    /* New docs colors */
    --docs_text_primary: hsla(216, 40%, 93%, 0.9);
    --docs_text_secondary: hsla(216, 40%, 80%, 0.7);

    --docs_border_default: hsla(217, 20%, 10%, 1);
    --docs_border_strong: hsla(217, 20%, 14%, 1);

    --docs_bg_header: hsla(217, 20%, 7%, 1);
    --docs_bg_content: hsla(217, 20%, 4%, 1);
    --docs_bg_footer: var(--docs_bg_header);
    --docs_bg_table_header: hsla(217, 20%, 6%, 1);
    --docs_bg_table_body: hsla(217, 20%, 8%, 1);
    --docs_bg_code_highlight: hsla(217, 20%, 15%, 1);
    --docs_bg_sandbox: hsla(217, 20%, 15%, 1);
    --docs_bg_header_button: hsla(217, 20%, 15%, 1);
    --docs_bg_card: hsla(217, 20%, 6%, 1);
    --docs_bg_dropdown: hsla(217, 20%, 12%, 1);
    --docs_bg_dropdown_hover: hsla(217, 20%, 15%, 1);

    --docs_border_radius_xs: 4px;
    --docs_border_radius_s: 8px;
    --docs_border_radius_md: 16px;

    --docs_spacing_1: 8px;
    --docs_spacing_2: 16px;
    --docs_spacing_3: 24px;
    --docs_spacing_4: 32px;
    --docs_spacing_5: 48px;
    --docs_spacing_6: 64px;
    --docs_spacing_7: 80px;
    --docs_spacing_8: 96px;
    --docs_spacing_9: 104px;
    --docs_spacing_10: 120px;

    --docs_font_size_h1: 1.75rem;
    --docs_font_size_h2: 1.375rem;
    --docs_font_size_h3: 1.125rem;
    --docs_font_size_h4: 1rem;
}

[data-theme='light'] {
    --sidebar_bg: #EDEFF3;
    --header_bg: #EDEFF3;
    --article_bg: #F6F7F9;
    --new_surface_light: #FCFCFC;
    --new_surface_lighter: #FFF;
    --new_border_default: #E0E4EB;
    --dropdown_hover: #DFE2E7;

    --gray1: hsl(0 0% 99%);
    --gray2: hsl(0 0% 97.3%);
    --gray3: hsl(0 0% 95.1%);
    --gray4: hsl(0 0% 93%);
    --gray5: hsl(0 0% 90.9%);
    --gray6: hsl(0 0% 88.7%);
    --gray7: hsl(0 0% 85.8%);
    --gray8: hsl(0 0% 78%);
    --gray9: hsl(0 0% 56.1%);
    --gray10: hsl(0 0% 52.3%);
    --gray11: hsl(0 0% 43.5%);
    --gray12: hsl(0 0% 9%);

    --blue3: hsl(209 100% 96.5%);
    --blue4: hsl(210 98.8% 94%);
    --blue5: hsl(209 95% 90.1%);
    --blue6: hsl(209 81.2% 84.5%);
    --blue11: hsl(211 100% 43.2%);

    --surface_default: #F0F2F5;
    --surface_light: #F6F7F9;
    --surface_lighter: #FCFCFD;
    --primary_light: hsla(217, 100%, 60%, 1);

    --secondary_disabled: #242A33;

    --background_default: #F9FAFB;

    --text_disabled: rgba(0, 0, 0, 0.4);

    --code: var(--surface_lighter);

    --cyan11: hsl(192 85% 31%);
    --success: var(--primary_light);
    --warning: #f5a623;

    --surface_default: #F0F2F5;

    --border_default: var(--docs_border_default);
    --border_light: var(--docs_border_strong);

    --background_default: #F9FAFB;

    --text_med_emp: var(--docs_text_secondary);
    --text_high_emp: var(--docs_text_primary);

    --code: #E0ECFF;
    --code_text: var(--docs_text_primary);
    --docs_bg_code_highlight: #E6E8EA;

    --badge_base: var(--new_surface_lighter);
    --badge_get: rgba(38, 107, 217, 0.1);
    --badge_post: rgba(54, 179, 126, 0.1);
    --badge_delete: rgba(204, 82, 95, 0.1);

    --api_surface_light_default: #F0F2F5;
    --api_surface_light_1: #E1E4EA;
    --api_surface_light_2: #505A69;
    --api_surface_light_3: #3D4655;

    --endpoint_url: var(--primary_light);
    --base_text: #E0ECFFCC;

    --request_code: #E0ECFFCC;
    --token_selector: hsla(180, 100%, 35%, 1);
    --token_func_cn: var(--endpoint_url);
    --response_json: hsl(180, 59%, 45%);

    /* New docs colors */
    --docs_text_primary: hsla(216, 10%, 2%, 0.9);
    --docs_text_secondary: hsla(216, 10%, 20%, 0.7);

    --docs_border_default: hsla(217, 20%, 93%, 1);
    --docs_border_strong: hsla(217, 20%, 90%, 1);
    --docs_border_dropdown: 1px solid var(--docs_border_strong);

    --docs_bg_header: hsla(217, 20%, 100%, 1);
    --docs_bg_content: hsla(217, 20%, 99%, 1);
    --docs_bg_table_header: hsla(217, 20%, 100%, 1);
    --docs_bg_table_body: hsla(217, 20%, 100%, 1);
    --docs_bg_code_highlight: hsla(217, 40%, 95%, 1);
    --docs_bg_sandbox: hsla(217, 20%, 90%, 1);
    --docs_bg_header_button: hsla(217, 20%, 95%, 1);
    --docs_bg_card: hsla(217, 20%, 100%, 1);
    --docs_bg_dropdown: hsla(217, 20%, 100%, 1);
    --docs_bg_dropdown_hover: hsla(217, 20%, 99%, 1);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    text-rendering: geometricPrecision;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    background-color: var(--surface_default);
    color: var(--docs_text_primary);
    transition: none;
    overscroll-behavior-y: none;
}


.svg-icon {
    width: 24px;
    height: 24px;
}

/* This is to make Scroll Adjustments */
html {
    scroll-padding-top: 120px;
    /* height of sticky header */
}

video {
    border-radius: var(--docs_border_radius_s);
    width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    word-wrap: break-word;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

p,
small {
    font-weight: 400;
    letter-spacing: -0.005625rem;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

p, ul, ol {
    color: var(--docs_text_primary);
    margin: 0;
    margin-bottom: 16px;
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.note p {
    margin-bottom: 0;
} 

p strong {
    font-weight: 600 !important;
}

li>p {
    margin-bottom: 0;
}

small {
    margin: 0;
    line-height: 1.5;
    font-size: 0.875rem;
}

b {
    color: var(--docs_text_primary);
    font-weight: 600;
}

span {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

a {
    cursor: pointer;
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--primary_light);
    align-items: center;
    flex-shrink: 0;
    outline: none;
    text-decoration-line: none;
    text-underline-offset: 3px;
    text-decoration-color: var(--blue4);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: inherit;
}

span a {
    letter-spacing: 0.02rem;
}

/* body3 */
span.text.child, span.text {
    font-size: 13px !important;
    color: var(--text_med_emp);
    margin-top: 0 !important;
    line-height: 24px;
}

/* body2 */
.menu-container a.menu-item {
    font-size: .875rem;
    color: var(--docs_text_secondary);
    line-height: 24px;
    border-left: 2px solid transparent;
    letter-spacing: 0px;
}

.menu-container a.active-link {
    color: var(--docs_text_primary);
    font-weight: 500 !important;
    border-left: 4px solid var(--primary_light);
}

.menu-container a {
    position: relative;
    left: 4px;
}

.menu-container:first-of-type {
    margin-left: 0.5rem !important;
}

.toc-ctx {
    min-width: 304px !important;
    width: 304px !important;
    box-sizing: border-box;
}

span.text a {
    font-weight: 400;
    font-size: 0.875rem;
}

span.active-toc a {
    font-weight: 500;
}

span.active-sublink a {
    font-weight: 500;
    color: var(--docs_text_primary);
}

span.active-toc.text a {
    color: var(--docs_text_primary);
    border-left: 4px solid var(--primary_light);
    margin-left: -4px;
}

span.child.active-sublink {
    color: var(--primary_light);
}

.menu-title {
    line-height: 1.5rem;
    font-size: 0.813rem !important;
    letter-spacing: 1px;
    position: relative;
    left: 4px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--docs_text_primary);
}

.menu-item:focus {
    outline: none;
}

a:hover {
    opacity: 0.8;
}

ul {
    list-style-position: inside;
    list-style: disc;
}

ul, ol {
    margin-top: 0;
    padding: 0;
    padding-left: 32px;
}

ol {
    list-style-type: decimal;
}

li {
    color: var(--docs_text_primary);
    margin: 0 0 16px 0;
}

li p strong {
    color: var(--docs_text_primary);
}

/* ul li:before {
    content: '–';
    display: inline-block;
    color: var(--gray10);
    position: absolute;
    margin-left: -0.9375rem;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 16px 0;
    color: var(--docs_text_primary);
}

h1 {
    font-size: var(--docs_font_size_h1);
    margin-top: 32px;
    margin-bottom: 16px;
    letter-spacing: -0.025rem;
    line-height: 2rem;
    font-weight: 700;
}

h2 {
    font-size: var(--docs_font_size_h2);
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
}

h3 {
    font-size: var(--docs_font_size_h3);
    line-height: 1.5rem;
    margin: 16px 0;
    letter-spacing: 0.02rem;
    font-weight: 600;
}

h4 {
    font-size: var(--docs_font_size_h4);
    line-height: 1.5rem;
    margin: 16px 0;
    letter-spacing: 0.02rem;
    font-weight: 600;
}

h5 {
    font-size: 1.063rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
}

h6 {
    font-size: 0.938rem;
    letter-spacing: -0.005625rem;
    font-weight: 600;
}

p+h2 {
    margin-top: 32px;
}

ol+h2 {
    margin-top: 32px;
}

ul+h2 {
    margin-top: 32px;
}

h3+div>table {
    margin-top: 0px;
}

h1+h2 {
    margin-top: 0px;
}

/* div.tab-ctx + div {
    margin-bottom: -16px !important;
} */

h1+span+h2 {
    margin-top: 16px;
}

div.table-wrapper+h3 {
    margin-top: 0px;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

pre {
    background-color: var(--docs_bg_card);
    border: 1px solid var(--docs_border_strong);
    border-radius: var(--docs_border_radius_s);
    padding-left: 1rem;
    font-family: 'Söhne Mono', menlo, monospace;
    white-space: pre;
    overflow: auto;
    margin: 16px 0;
    line-height: 1.5;
    color: var(--docs_text_primary);
    text-align: left;
    font-size: 0.8125rem;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

pre span,
pre p {
    font-size: inherit;
    color: inherit;
    margin: 0;
}

pre code {
    color: var(--docs_text_primary);
    font-size: 1rem;
    line-height: 1.25rem;
    white-space: pre;
}

pre code:before,
pre code:after {
    display: none;
}

pre::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}

pre {
    margin-bottom: 32px;
}

pre+h2 {
    margin-top: 16px;
}

.note {
    margin: 16px 0 !important;
}

.note+h2 {
    margin-top: 32px;
}

code {
    display: inline;
    color: var(--docs_text_primary);
    background-color: var(--docs_bg_code_highlight);
    border: 1px solid var(--docs_border_strong);
    border-radius: var(--docs_border_radius_xs);
    font-family: 'Source Code Pro', menlo, monospace;
    font-size: 0.875rem;
    font-weight: 400;
    white-space: pre-wrap;
    padding: 2px 4px;
}

hr {
    border: 0;
    border-top: 1px solid var(--docs_border_default);
    height: 2px;
    margin: 40px 0;
}

blockquote {
    padding: calc(0.667 * 16pt) 16pt;
    color: var(--docs_text_primary);
    background-color: var(--gray3);
    border-radius: var(--docs_border_radius_xs);
    margin: 1.5rem 0;
    border: 1px solid var(--gray6);
    border-left: 5px solid var(--gray10);
    overflow-x: auto;
}

iframe {
    border-color: var(--docs_border_default);
}

blockquote :global(*:first-child) {
    margin-top: 0;
}

blockquote :global(*:last-child) {
    margin-bottom: 0;
}

::selection {
    color: var(--docs_text_primary);
    background-color: rgba(31, 90, 158, 0.5);
}

table {
    margin-bottom: 2rem;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

ul+h2 {
    margin-top: 16px;
}

ol+h2 {
    margin-top: 16px;
}

table th,
table td {
    padding: 1rem 1.5rem;
    text-align: left;
}

table th {
    color: var(--docs_text_primary);
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0;
    border-bottom: 1px solid var(--docs_border_default);
    border-top: 1px solid var(--docs_border_default);
    background-color: var(--docs_border_default);
}

table th:nth-child(1) {
    border-bottom: 1px solid var(--docs_border_default);
    border-left: 1px solid var(--docs_border_default);
    border-top-left-radius: 8px;
    border-top: 1px solid var(--docs_border_default);
}

table th:last-child {
    border-bottom: 1px solid var(--docs_border_default);
    border-top-right-radius: 8px;
    border-right: 1px solid var(--docs_border_default);
    border-top: 1px solid var(--docs_border_default);
}

table tr td {
    font-size: 0.875rem;
}

table td {
    border: 1px solid red;
}

tr {
    color: var(--docs_text_primary);
}

table tr td:not(:last-of-type) {
    border-right: 0px;
}

table tr td:not(:first-of-type) {
    border-left: 0px;
}

table tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-width: 1px !important;
}

table tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-width: 1px !important;
}

.table-wrapper {
    overflow-x: auto;
}

table th {
    background: var(--docs_bg_table_header) !important;
}

table td {
    background: var(--docs_bg_table_body) !important;
}

table th, tr, td {
    border-color: var(--docs_border_default) !important;
    border-bottom-width: 0px !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--token_comment);
}

.token.punctuation {
    color: var(--token_punctuation);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: var(--token_property);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
    color: var(--token_selector);
}

.response-box .token.string {
    color: var(--response_json);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: var(--token_oper_string);
}

.response-box .token.operator {
    color: var(--response_json);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--blue11);
}

.token.function,
.token.class-name {
    color: var(--token_func_cn);
}

.token.regex,
.token.important,
.token.variable {
    color: var(--token_regex_imp_var);
}

code[class*='language-'],
pre[class*='language-'] {
    color: var(--token_code_class);
    margin-top: 0px !important;
}

.request {
    border-radius: 0 0 var(--docs_border_radius_s) var(--docs_border_radius_s);
}

.request code[class*='language-'],
.request pre[class*='language-'] {
    border-radius: 0 0 var(--docs_border_radius_s) var(--docs_border_radius_s);
    margin: 0;
    font-weight: 500;
    border-color: var(--api_surface_light_2);
    background-color: var(--api_surface_light_2);
}

.request code[class*='language-'],
.request pre[class*='language-'] .copied {
    background-color: var(--api_surface_light_2);
    border: none;
}

.request code[class*='language-'],
.request pre[class*='language-'] .copied svg {
    stroke: var(--request_code);
}

.request .code-block>div {
    color: var(--request_code) !important;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
}

.response-box code[class*='language-'],
.response-box pre[class*='language-'] {
    border-radius: 0 0 var(--docs_border_radius_s) var(--docs_border_radius_s);
    margin: 0;
    font-weight: 500;
    border-color: var(--api_surface_light_1);
    background-color: var(--api_surface_default);
}

.response-box code[class*='language-'],
.response-box pre[class*='language-'] .copied {
    background-color: var(--api_surface_light_2);
    border: none;
}

.response-box code[class*='language-'],
.response-box pre[class*='language-'] .copied {
    display: none;
}

.next-image {
    margin: 20px 0;
}

.icon-link {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--gray5);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray7);
    outline: 1px solid var(--gray7);
}

input {
    color: var(--docs_text_primary);
    border: none;
    background-color: transparent;
}


/* Header Anchor Links */
.head-link {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    text-decoration: none;
}

.toc-ctx p.head {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    margin: 1rem 0 0.5rem 0;
    color: var(--docs_text_primary);
}

/* Code Higlight Word */
.highlight-word {
    padding: 2px;
    color: var(--gray1);
    background-color: var(--code);
    border-radius: var(--docs_border_radius_xs);
}

/* Reamark Code Header / Title */
.remark-code-title {
    background-color: var(--docs_bg_card);
    color: var(--docs_text_primary);
    padding: 4px 10px;
    border: 1px solid var(--docs_border_strong);
    border-bottom-width: 0px;
    border-top-left-radius: var(--docs_border_radius_s);
    border-top-right-radius: var(--docs_border_radius_s);
    font-size: 0.8rem;
    font-weight: bold;
}

.remark-code-title+pre {
    margin-top: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* Code Line Highlight */
.mdx-marker {
    display: block;
    margin-left: -1rem;
    padding-left: 1rem;
    border-left: 5px solid var(--primary_light);
    background-color: var(--docs_bg_code_highlight);
}

/* Git Diff Syntax Highlight */
.token.inserted {
    background-color: var(--token_inserted);
}

.token.deleted {
    background-color: var(--token_deleted);
}

/* Copy Anchor Icon */
.copy-anchor {
    opacity: 0;
    margin-left: 0.5rem;
    width: 15px;
    height: 15px;
}

h2:hover .copy-anchor {
    opacity: 1;
}

h3:hover .copy-anchor {
    opacity: 1;
}

h2:hover .copy-anchor:active {
    opacity: 0.5;
}

h3:hover .copy-anchor:active {
    opacity: 0.5;
}

/* Selector */
.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    outline: none;
    border: var(--docs_border_dropdown);
    width: 200px;
    height: 24px;
    background-color: var(--docs_bg_dropdown);
    color: var(--docs_text_primary);
    border-radius: var(--docs_border_radius_s);
    margin: 8px 0 15px 1rem;
    position: relative;
    padding: 16px;
    cursor: pointer;
    font-weight: 600;
}

.dropdown:hover {
    background-color: var(--docs_bg_dropdown_hover)
}

.dropdown:focus-visible {
    box-shadow: 0 0 0 3px var(--blue5);
    border-color: var(--blue5);
}

.dropdown-options li:before {
    content: '';
}

ul.dropdown-options {
    padding-left: 0;
}

.dropdown-options {
    z-index: 100;
    border-radius: var(--docs_border_radius_s);
    border: var(--docs_border_dropdown);
    background-color: var(--docs_bg_dropdown);
    position: absolute;
    left: 16px;
    width: 232px;
    top: 104px;
    cursor: pointer;
}

.dropdown-option {
    display: flex;
    align-items: center;
    padding: 8px 0;
    padding-left: 16px;
}

.dropdown-option:hover {
    background-color: var(--dropdown_hover);
}

.dropdown-option span {
    color: var(--docs_text_primary);
    font-weight: 500;
}

.dropdown svg {
    color: var(--docs_text_primary)
}

.dropdown-option:first-of-type {
    margin-top: 1rem;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

p img {
    max-width: 100%;
    margin: 0px 0px 8px 0;
    border-radius: var(--docs_border_radius_s);
    border: 1px solid var(--docs_border_default);
}

span img {
    max-width: 100%;
    margin: 0px 0 26px 0;
}

h1+div>h2:first-of-type {
    margin-top: 16px;
}

h1+h2 {
    margin-top: 16px;
}

.download-btn {
    background: var(--blue6);
    font-weight: 700;
    color: var(--docs_text_primary);
    width: 300px;
    height: 40px;
    border-radius: var(--docs_border_radius_s);
    outline: none;
    border: none;
    cursor: pointer;
}

div.home-dropdown-option {
    margin: 8px 0;
    width: 160px;
    padding: 4px 0 4px 8px;
}

div.home-dropdown-option:hover {
    background-color: var(--secondary_default);
    border-radius: var(--docs_border_radius_s);
}

.footer-wrapper {
    width: 90%;
}

.footer {
    margin-top: 40px;
    width: 100%;
    max-width: 1352px;
}

.footer-contact {
    width: 66%;
}

.footer-form {
    align-items: center;
}

.footer-final {
    margin-bottom: 56px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
}

.socials svg {
    color: var(--docs_text_primary);
}

.mobile-hr {
    display: none;
}

p:has(img)+h2 {
    margin-top: 16px;
}

p:has(img)+h3 {
    margin-top: 0px;
}

li ul {
    margin-top: 16px;
    margin-bottom: 16px;
}


li ul li {
    margin-bottom: 16px;
}

div#hs-eu-cookie-confirmation {
    background-color: #11161f !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
    padding: 10px !important;
    background-color: #11161f !important;
}

div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom {
    border-top: 1px solid #303740 !important;
    box-shadow: none !important;
}

div#hs-eu-cookie-confirmation-inner {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
    color: white !important;
    margin: 0 !important;
}

div#hs-eu-policy-wording {
    margin: 0 !important;
    margin-top: 10px !important;
    margin-right: 20px !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area {
    margin: 0 !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-cookie-settings-button {
    display: none;
}

@media screen and (max-width: 1160px) {

    .footer-wrapper {
        margin: 0 48px;
    }

    .footer-contact {
        width: 100%;
    }

    .footer-form {
        align-items: center;
    }

    .footer-last {
        flex-direction: column;
        gap: 16px !important;
    }

    .footer-final {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 840px) {

    div.home-dropdown-option {
        width: 120px;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 30px;
        line-height: 32px;
    }
}

@media screen and (max-width: 760px) {
    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-decline-button {
        margin-top: 5px !important;
        margin-right: 12px !important;
    }

    h1 {
        font-size: 1.625rem;
        line-height: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    h3 {
        font-size: 1.125rem;
        line-height: 2rem;
    }

    h4 {
        font-size: 1.0625rem;
        line-height: 2rem;
    }

    div.dropdown-wrapper {
        flex-direction: column;
    }

    div.home-dropdown-option {
        width: 160px;
    }

    .footer {
        flex-direction: column;
        gap: 45px;
    }

    .footer-wrapper {
        margin: 0 24px;
    }

    .footer-form {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .footer-input {
        width: calc(100%-24px);
    }

    .subscribe-btn {
        margin: 0 auto;
    }

    .footer-contact {
        flex-direction: column;
    }

    .mobile-hr {
        display: block;
    }

    .footer-final {
        flex-direction: column;
        gap: 32px;
        margin-bottom: 24px;
    }
}

.note>p {
    margin-bottom: 0px;
}

ul+p>img, ol+p>img {
    margin-left: 16px;
    width: calc(100% - 16px);
}

li>p:nth-child(n+2) {
    margin-top: 16px;
}

/* Matched term in snippets returned from 
algolia search are wrapped in this tag */

ais-highlight-0000000000 {
    color: var(--primary_light) !important;
}

.steps-container {
  margin-left: 1rem;
  padding-left: 1.5rem;
  counter-reset: step;
  border-left: 1px solid;
  border-color: var(--docs_border_strong);
  margin-bottom: 3rem;
}

.steps-container h3 {
  counter-increment: step;
}

.steps-container h3:before {
  content: counter(step);
  display: inline-flex;
  position: absolute;
  margin-top: -5px;
  margin-left: -41px;
  width: 33px;
  height: 33px;
  justify-content: center;
  align-items: center;
  color: var(--docs_text_secondary);
  border-radius: 100%;
  border: 4px solid var(--docs_bg_content);
  background: var(--docs_bg_code_highlight);
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}