.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    outline: 0px;
    display: none;
}

.hide-scrollbar {
    min-width: 304px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    top: 66px;
}